@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #0a0c1b;
    

}

.container{
    
    width: 700px;
    height: 400px;
    background-color: #1c1938;
}

.box-left{
    color: #ffffff;
    text-align: center;
    margin-left:auto;
}

.box-right{
    background-image: url("images/image-header-desktop.jpg") no-repeat;
    margin-right: auto;
   
}