@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body,
html {
  margin: 20px;
  padding: 0px;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #0a0c1b;
  font-size: 14px;
  overflow-x: hidden;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 5px;
  overflow: hidden;
  perspective: 1px;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}

.box-left {
  color: #ffffff;
  text-align: left;
  padding: 20px 100px 30px 40px;
  background-color: #1c1938;
}

.box-right {
  background-image: url(../images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.box-right:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(81, 19, 119, 0.6);
}

.count {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}

.count-1 {
  padding-right: 50px;
}
.count-2 {
  padding-right: 50px;
}

.s-text {
  font-size: 10px;
  font-weight: 200;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

.header-fontc {
  color: #aa5cdb;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: inherit;
  }

  .box-left {
    order: 2;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  .box-right {
    order: 1;
    min-height: 215px;
  }
  .count {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  body,
  html {
    height: auto;
  }
  .count {
    flex-direction: column;
    margin: 20px 0 10px 0;
  }
  .count > *:not(:last-child) {
    margin-bottom: 20px;
  }
  .count-1 {
    padding-right: 0px;
  }
  .count-2 {
    padding-right: 0px;
  }
}
